body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: #def0ff;
  color: #615d85;
}

header {
  background-color: #bcade2;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #ffffff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

#intro {
  padding: 30px;
  text-align: center;
  background-color: #c6b6ec;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;
  padding: 33px;
}

.card {
  background-color: #faf6ff;
  border-radius: 10px;
  width: 280px;
  padding: 15px;
  box-shadow: 0 0 10px rgb(76, 49, 151);
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.random-section {
  text-align: center;
  padding: 25px;
}

button {
  background-color: #7a9fb8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5984a1;
}

footer {
  background-color: #a899ce;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 14px;
}